* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;

    h1 {
        color: white;
        font-size: 60px;
        animation: anim 0.7s 1 linear 0.5s;
    }
}

@keyframes anim {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }

    100% {
        margin: 0 auto;
        opacity: 1;
    }
}